{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "S3PutObjectPermission",
            "Effect": "Allow",
            "Action": "s3:PutObject",
            "Resource": [
                "${invoke_lambda_bucket_name}/*"
            ]
        },
        {
            "Sid": "S3ListBucketPermission",
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket"
            ],
            "Resource": [
                "${invoke_lambda_bucket_name}"
            ]
        }
    ]
}
